<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- facebook Open Graph Metadatas -->
  <meta property="fb:app_id" content="837080576396724">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
  {% else %}
  <meta property="og:title" content="{{ site.title }}">
  {% endif %}
  {% if page.title %}
  <meta property="og:type" content="article">
  {% else %}
  <meta property="og:type" content="website">
  {% endif %}
  {% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
  {% else %}
  <meta property="og:description" content="{{ site.description }}">
  {% endif %}
  {% if page.url %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="article:author" content="{{ site.url }}/about/">
  {% endif %}
  {% if page.image %}
  <metaproperty="article:author" content="/img/posts/{{ page.image }}" property="og:image">
  {% else %}
  <meta property="og:image" content="/images/logo.png">
  {% endif %}
  {% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta property="article:section" content="{{ category }}">
  {% endfor %}
  {% endif %}
  {% if page.tags %}
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
  {% endif %}

  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{% if page.excerpt %}{% if page.content contains '<!-- more -->' %}{{ page.excerpt|strip_html|trim }}{% endif %}{% else %}{{ site.description }}{% endif %}">

  {% if page.image %}<meta name="thumbnail" content="{{ site.baseurl | prepend: site.url }}{{ page.image }}" />{% endif %}


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/png" href="{{ "/images/logo.png" | prepend: site.baseurl }}">

  <!-- Custom CSS -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/lambda.css" | prepend: site.baseurl }}">

  {% if site.google_analytics %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', {{ site.google_analytics }}, 'auto');
  ga('send', 'pageview');
  </script>
  {% endif %}

</head>
