

<div class="entry">

	<div class="entry-content">

		<header>
			<h1 class="entry-title"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
			<p class="entry-meta">
				{{ page.date | date: "%b %-d, %Y" }}
				{% if page.category %} • Category: {{ page.category|capitalize }}{% endif %}
			</p>
		</header>

		<article class="entry-body">
			{% if content %}
			{{ content }}
			{% else %}
			{{ page.excerpt }}
			{% if page.content contains '<!-- more -->' %}
			<p><a href="{{ page.url | prepend: site.baseurl }}">Read more »</a></p>
			{% endif %}
			{% endif %}

			<div id="disqus_thread"></div>
			<script>
		(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');

			s.src = 'http://alexandrius.disqus.com/embed.js';

			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

	</article>
</div>
</div>

